body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    outline: none;

    background-color: #ffffff;
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;   
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    margin-bottom: 30px;
}

.header_navigation {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.header_navigation-wrapper {
    width: 100%;
    margin-bottom: 20px;

    background-color: #000000;
}
.header_navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_navigation .contacts-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 200px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.contacts-list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    background-color: #000000;
}

.header_img {
    width: 400px;
    height: 367px;
}

.header_navigation .works {
    margin: 0;
    padding: 0;
    width: 140px;

    color: #ffffff;

    list-style: none;
}

.header_navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
}

.contacts-list_item a:hover,
.contacts-list_item a:focus {
    background-color: #73d35b;
}

.contacts-list a:hover,
.contacts-list a:focus {
    background-color: #73d35b;
}


.skills {
    margin-bottom: 30px;
}

.footer {
    margin-top: 30px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;
}
.skills-item {
    width: 450px;
}

legend {
    border: none;
    text-align: center;
}

.skills h3 {
    text-align: center;
}


.skills-item_hard h3 {
    text-align: center;
}

.skills-item_soft h3 {
    text-align: center;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;


    list-style: none;

    text-align: center;
}

.portfolio-list_item {
    width: 450px;
}

.portfolio-list_title h3 {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;

}

.portfolio-list_item a {
    color: #055c17;
}
.portfolio-list_item a:hover,
.portfolio-list_item a:focus {
    background-color: #73d35b;
}

.footer {
    padding: 30px 0;
    margin-top: 30px;

    color: #ffffff;

    background-color: #000000;
    background-position: 0 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin: 0;
    

    list-style: none;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    width: 140px;
}
