body {
    margin: 0;
    padding: 0;

    font-family: "Alegreya Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    outline: none;

    background-color: #ffffff;
    background-image: url("");
    background-position: top center;
    background-repeat: no-repeat;
}

@-ms-viewport { 
    width: device-width;
   }
   @-o-viewport { 
    width: device-width;
   }
   @viewport { 
    width: device-width;
   }

a {
    text-decoration: none;   
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    margin-bottom: 30px;
}

.header-navigation {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.header-navigation__wrapper {
    width: 100%;
    margin-bottom: 0;

    background-color: #000000;
}
.header-navigation__wrapper .container {
    display: flex;
    justify-content: space-between;

    background-color: #000000;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;

}

.header-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
}

/*.header-navigation*/ .contacts-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    /*width: 200px;*/
    margin: 0;
    padding: 0;
    

    list-style: none;
}

.contacts-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 10px;
}

/*.header-navigation*/ .email {
    display: flex;
    /*width: 30px;
    height: 30px;*/
    margin: 0;
    padding: 0;

    background-color: #000000;
}

/*.header_img {
    width: 400px;
    height: 367px;
}*/

.contacts-list__item:hover path,
.contacts-list__item:focus path {
    fill: #73d35b;
}

.email:hover path,
.email:focus path {
    fill: #73d35b;
}

.header-text {
    width: 100%;
    padding-top: 1px;
    background-color: #e7f8e3;
    background-image: url(../img/backimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.header-text__title {
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 10px;
}

.header-text__about {
    margin: 0;
    padding-bottom: 100px;
}

.skills {
    width: 100%;
    margin-bottom: 30px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;
}

.skills-item {
    width: 50%;
}

legend {
    border: none;
    text-align: center;
}

.skills h3 {
    text-align: center;
}


/*.skills-item_hard h3 {
    text-align: center;
}

.skills-item_soft h3 {
    text-align: center;
}*/

.portfolio-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;


    list-style: none;

    text-align: center;
}

.portfolio-item {
    width: 50%;
}

.portfolio-item__title h3 {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;

}

.portfolio-item a {
    color: #055c17;
}

.portfolio-item a:hover,
.portfolio-item a:focus {
    background-color: #73d35b;
}

.footer {
    margin-top: 30px;
    padding: 30px 0;

    color: #ffffff;

    background-color: #000000;
    background-position: 0 0;
}

/*.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
/*.footer-contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    width: 140px;
    margin: 0;
    padding: 0;
    
    list-style: none;
}*/

.footer-tel {
    margin: 0;
    padding: 0 20px;

    background-color: #000000;
}

.footer-copyright {
    margin: 0;
    padding: 0 20px;
}

.footer-tel a {
    color: #ffffff;
}

.footer-tel a:hover,
.footer-tel a:focus {
    color: #73d35b;
}
