body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: 000000;
    outline: none;

    background-color: #ffffff;
    background-image: url("");
    background-position: top center;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #000000;
}
.page-header_content {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

a {
    text-decoration: none;   
}

.page-header_navigation .contacts-list {
    display: flex;
    justify-content: space-around;

    width: 300px;
    height: 50px;
    margin: 0;
    padding: 0;

    color: #ffffff;

    background-color: #000000;
}

.contacts-list_item {
    width: 50px;
    margin: 0;
    padding: 0;
}

.contacts-list {
    list-style: none;
}

.contacts-list a {
    color: #ffffff;
}

.contacts-list_item a:hover,
.contacts-list_item a:focus {
    background-color: #73d35b;
}

.contacts-list a:hover,
.contacts-list a:focus {
    background-color: #73d35b;
}

legend {
    text-align: center;
}

.skills h3 {
    text-align: center;
}

.skills-list {
    list-style: none;
}

.skills-item_hard h3 {
    text-align: center;
}

.skills-item_soft h3 {
    text-align: center;
}

.portfolio-list {
    list-style: none;

    text-align: center;
}

.portfolio-list_title h3 {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;

}

.portfolio-list_item a {
    color: #055c17;
}
.portfolio-list_item a:hover,
.portfolio-list_item a:focus {
    background-color: #73d35b;
}

.footer {
    color: #ffffff;

    background-color: #000000;
    background-position: 0 0;
}
